---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/cfexampleapi
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  catCollection {\n    items {\n      name\n    }\n  }\n}\n"}'
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 5bbf51e1dabca84c964974f3d459526c
    body:
      encoding: UTF-8
      string: '{"data":{"catCollection":{"items":[{"name":"Happy Cat"},{"name":"Nyan
        Cat"},{"name":"Garfield"}]}}}'
  recorded_at: Sun, 07 Oct 2018 11:49:15 GMT
recorded_with: VCR 4.0.0
