---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/cfexampleapi
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  foobar\n}\n"}'
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 40afaea8b3a54a7674202179a1f46702
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Cannot query field \"foobar\" on type \"Query\".","locations":[{"line":2,"column":3}]}]}'
  recorded_at: Sun, 07 Oct 2018 11:51:17 GMT
recorded_with: VCR 4.0.0
